body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 1rem;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

nav ul li:hover {
    transform: translateY(-3px);
    background-color: #f57c00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

h2{
    text-align: justify;
    font-size: 1.8rem;
}



.destaque, .galeria {
    margin-bottom: 2rem;
}

.card {
    display: inline-block;
    text-align: left;
    margin: 0 0.5rem; /* margem lateral para separar os cards */
    width: 200px; /* largura reduzida */
    height: 370x; /* altura reduzida */
    padding: 1rem; /* padding reduzido */
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    background-color: #f8f8f8; /* fundo levemente diferente */
    border: 1px solid #ddd; /* borda sutil */
}

.card img {
    width: 80%;
    height: auto;
    margin:auto;
}

.card:hover {
    transform: translateY(-55px);
}

.card h3 {
    font-size: 1.2rem; /* tamanho da fonte reduzido */
}

.card p {
    font-size: 1rem; /* tamanho da fonte reduzido */
}

.card button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}


.shirt {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s;
}

.shirt:hover {
    transform: translateY(-3px);
}

.shirt img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    transition: transform 0.3s;
}

.shirt:hover img {
    transform: scale(1.1);
}

button:hover {
    background-color: #32cd32;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
